@model Contact
@{
    ViewBag.Title = "Delete Contact";
}
<!--Simple Delete confirmation view pulling target Object name for user action confirmation-->
<h2>Confirm Deletion</h2>
<h3>@Model.FirstName @Model.LastName?</h3>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ContactId" />
    <button type="submit" class="btn btn-danger">
        Delete
    </button>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>