@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h4>This Assignment is created by Kaden de Frece (000364780)<br />Taught by instruuctor M. Raza</h4> <p>Using in class demonstrations and notes as reference to create and improve upon this Full Stack CRUD Application</p>
